$mainColor: #212121;
$secondaryColor: #757575;
$accent: #2196f3;
$white: #ffffff;
$mainBgColor:  #2f303a;
$secondaryBgColor: #f5f4fa;
$iconAccent: #2196f3;
$iconColor: #afb1b8;

$mainFont: "Roboto";
$logoFont: "Raleway";

$normal: 400;
$bold: 700;
$medium: 500;
